@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/*Ein CSS Befehl besteht immer aus einem Selektor einer Deklaration und einem zugewiesenen Wert*/
body{ 
    font-size: 120%;/*legt die Schriftgröße fest*/
    font-family: 'Acme', sans-serif;/*bestimmt die Schriftart diese muss am PC installiert sein oder kann auch mit @import importiert werden*/
    line-height: 1.4;/*legt die Zeilenhöhe fest*/
    background-color: #ffffff;/*Farbe des Hindergrundes*/
    color: #263238;/*Textfarbe*/
    margin: 0;/*legt den Außenabstand von Elementen fest */
}
h1{
    font-size: 3rem;/*3rem bedeutet das die Schrift 3 mal so groß ist wie im Browser festgelegt*/
    font-weight: normal;/*damit die Schrift nicht fett sondern normal angezeigt wird*/
    text-align: center;/*zentriert die Überschrift*/
    padding: 2rem;/*sorgt für den Innenabstand*/
    margin: 0;/*mit 0 entfernt man den sonst vorhandenen Außenabstand*/
    letter-spacing: 2px;
    text-shadow: grey 4px 3px 0;
}
nav{
    background-color: #420a50;
    position: fixed;
    width: 100%;
}
nav ul{ /*hier wird nur die ul der naigation verändert*/
    margin: 0;
    display: flex;/*bewirkt das die Listenpunkte nebeneinander statt untereinander angezeigt werden*/
    list-style: none;/*löscht die normalerweise vorhandenen Listenpunkte*/
    justify-content: center;
    justify-content: space-between;
    font-variant: small-caps;
}
nav a{/*das a Element innerhalb des nav*/
    color: white;
    text-decoration: none;/*die standard Linksunterstreichung wird entfernt*/
    display: block;/*sorgt dafür das die Links so breit werden wie sie können*/
    padding: 0.8rem;
}
nav a.aktuell{/*wählt das a Element mit der class aktuell das sich im nav befindet*/
    font-weight: bold;
}
nav a:hover{
    color: yellowgreen;
}
nav button{
    display: none;
}
header{
    background: linear-gradient(black,green,yellowgreen, white);
    border-radius: 0 0 20% 20%;
    box-shadow: #420a50 5px 5px 5px;
}
main{
    max-width: 62rem;
    margin: auto;/*sorgt für die zentrierung*/
    display: flex;/*ordnet die im main befindlichen article elemente nebeneinander an*/
}
section.colorsection{
    background-color: rgba(172, 218, 105, 0.151);
    width: 100%;
}
article{
    width: 50%;/*die artikel bekommen eine breite von 50%*/
    margin: 0 2rem;
}
article#uebermich{
    margin: auto;
}
footer{
    background-color: #420a50;
    color: #ffffff;
    padding: 2rem;
    margin-top: 1rem;
}
footer a{
    color: white;
    text-decoration: overline;
}
footer a:hover{
    color: yellowgreen;
}
img{
    max-width: 100%;/*das bild soll 100% des elternelements einnehmen*/
    height: auto;/*die höhe passt sich automatisch an damit die proportionen erhalten bleiben*/
}

#humor{
    width: 400px;
    height: auto;
    margin-left: 50px;
}

a.button{
    background-color: #420a50;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 40%;
    border: outset;
    width: 250px;
    height: 35px;
    margin-left: 15rem;
    padding-top: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: grey 5px 5px 7px;
}

a.button:hover{
    color: greenyellow;
    transform: scale(110%);
}

div{
    text-align: center;
}
p{
    text-align: center;
}
h2{
    text-align: center;
    
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
h6{
    text-align: center;
}
section{
    
    margin: auto;
    display: flex;
}

aside{
    max-width: 15rem;
    margin: auto;
}
dt{
    font-weight: bold;
}
nav #suche{
    margin-top: 1rem;
    margin-right: 1rem;
}
nav label{
    color: white;
}
fieldset{
    text-align: center;
    width: 100%;
    border: 2px outset black;
    box-shadow: grey 0 0 0.5rem;
}
main#formular{
    justify-content: center;
    width: 100%;
}
.contact{
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

input{
    padding-right: 4rem;
    margin-bottom: 1rem;
}
input:focus{
    border:2px groove greenyellow;
}

#submit, #reset{
    border: 2px outset grey;
    color: grey;
    margin-left: 1rem;
}
#submit:hover, #reset:hover{
    color: black;
}
table{
    border: ridge red;
    width: 100%;
    height: 100%;
}
td, th{
    border: 2px dotted red;
}

hr{
    border: 3px #420a50;
    border-style: dotted;
}
@media screen and (max-width:530px){/*wenn es sich um einen bildschirm handelt der max 530px in der breite darstellen kann*/
    main{
        display: block;/*die elemente im main bereich sollen nicht mehr nebeneinander sonder untereinander dargestellt werden*/
    }
    article{
        width: auto;/*die breite der elemente passt sich automatisch an*/
    }
    cite{
        margin-left: 15rem;
    }
    section{
        display: block;
    }

    a.button{
        display: none;
    }
    nav ul{
        flex-wrap: wrap;
    }
    .contact{
        display: block;
    }
    nav ul{
        display: block;
        padding-left: 0;
        display: none;
        margin-top: 2rem;
        margin-left: 1rem;
    }
    nav li{
        margin: 2px 0px;
        background: #222;
    }
    nav button{
        position: absolute;
        top: 0rem;
        right: 0.5rem;
        border:0;
        background: white;
        font-size: inherit;
        display: block;
    }
    [aria-expanded="true"]~ul {
        display: block;
    }
}